* {
    margin: 0;
    padding: 0;
}

div {
    /* max-width: 800px; */
    display: inline-block;
}

.toky {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 500px) {
    .if { 
        /* max-width: 200px; */
        display: inline-block;
    }
}