/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES */

   :root {

        --color01: #0D0D0D; 
        --color02: #fff;

        /* gray blue */
        --color03: #1C2128;
        --color04: #2D333B;
        --color05: #768d99;
        --color06: #A8BAC7;


        --font01: 'Inter', sans-serif;
        --font02: 'Ubuntu Mono', monospace;
        --font03: 'DM Mono', monospace;
   }

/* Typical Device Breakpoints

small screens: 600px max
cellphone: 600px -> 768px max
tablet: 768px -> 992px max
desktop: 992px -> 1200px
big screens: up 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablets */

    /* HEADER */

    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    /* CONTACT */

    .ctt > a {
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
    }

}

@media screen and (min-width: 992px) {

    /* HEADER */

    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
        margin: 0px 10px 0px 10px;
    }

    /* CONTACT */

    .ctt > a {
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
    }

    /* ul {
        columns: 2;
    } */

}