/* VARIABLES */

:root {

    --color01: #0D0D0D; 
    --color02: #fff;

    /* gray blue */
    --color03: #1C2128;
    --color04: #2D333B;
    --color05: #768d99;
    --color06: #A8BAC7;


    --font01: 'Inter', sans-serif;
    --font02: 'Ubuntu Mono', monospace;
    --font03: 'DM Mono', monospace;
}


/* experience */

.exp {
    margin-bottom: 20px;
    width: 90%;
    margin-left: 30px;
}

.bar {
    background-color: var(--color06);
    border-radius: 10px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #A8BAC7;
}


.line-bar {
    margin-top: 10px;
    background-color: var(--color06);
    border-radius: 10px;
    height: 6px;
    overflow: hidden;
    border: 1px solid #A8BAC7;
}

.progress-bar {
    background-color: #08678C;
    height: 18px;
}

.progress-line {
    background-color: #074973;
    height: 6px;
}

/* bars */

#b1 {
    width: 42.5%;
}

#bl1 {
    width: 80%;
}

#b2 {
    width: 8%;
}

#bl2 {
    width: 10%;
}

#b3 {
    width: 15.5%;
}

#bl3 {
    width: 12%;
}

#b4 {
    width: 2%;
}

#bl4 {
 width: 5%;
}

#b5 {
    width: 32%;
}

#bl5 {
    width: 15%;
}

/* exp others */

.exp strong {
    font-size: 0.8em;
    margin-left: 10px;
    /* color: var(--color03); */
    color: var(--color03);
}

.exp h4 {
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 4px;
}