* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER \/ */

.header {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .logo {
    max-width: 25px;
    
  }
  
 .header a {
    color: white;
 }

  .header a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(90, 2, 2);
  }
  
  .header a.active {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  /* HEADER /\ */

  /* BODY \/ */


.container .box {
   display : inline-block;
  /* flex-direction : row;   */
}

.container .box .box-cell.box1 {
    /* background-color:rgb(255, 255, 255); */
    color:rgb(0, 0, 0);
    text-align:justify;
 }
.container .box .box-cell.box2 {
    /* background-color:rgb(109, 104, 173); */
    color:rgb(0, 0, 0);
    text-align:justify
}

.toky {
    width: 150px;
    height: 150px;
}

table {
  border: 1 black;
}

.ctt {
  max-width: 60px;
}

footer {
  padding: 2%;
}